@model IEnumerable<StudentManagementSystem.Models.Student>

<h2>Students List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Student</a>
</p>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Age</th>
        <th>Action</th>
    </tr>

@foreach(var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Course</td>
        <td>@item.Age</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
